/* ---------- UILIB required resets: ------------ */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}
/* ---------- UILIB required resets: ------------ */

body {
  background-color: var(--decent-color);
  color: var(--accent-color);
  font-family: sans-serif;
}

*::selection {
  background-color: var(--active-color-alpha-500);
}
